/* header */
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header__logo > svg {
  padding-top: 2vh;
} */

.header__gnb {
  /* flex-grow: 8; */
  display: none;
}

.header__ham-btn {
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header__ham-btn > p {
  padding-top: 2vh;
} */

@media all and (min-width: 1440px) {
  .header__logo {
  }
  .header__gnb {
    display: flex;
    align-items: center;
  }
  .header__gnb ul {
    display: flex;
    width: 70vw;
    justify-content: flex-start;
  }
  .header__gnb ul li {
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .header__gnb ul li p {
    background: linear-gradient(to top, #fff 5%, transparent 10%);
  }
  .header__gnb ul li:hover {
    cursor: pointer;
  }
  .header__ham-btn {
  }
}

/* main-board-container */
.main-board-container {
  height: 70vh;
}

.main-section {
  height: 15vh;
}

.ranking-section {
  height: 30vh;
}

.introduce-section {
  height: 30vh;
}

/* footer */
.footer {
  height: 15vh;
}
