@media all and (max-width: 380px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 2px;
    border-color: #ebebeb;
  }

  .header .logo {
    margin-left: 8%;
    margin-top: 5%;
  }

  .header .btn_open_menu {
    margin-right: 8%;
    margin-top: 5%;
  }
}
